body {
    font-family: Helvetica, Verdana, Arial, Tahoma, sans-serif;
}

h1 {
    color: navy;
    font-weight: bold;
    text-decoration: underline;

}

ul{
    color: black;
    font-weight: 200;
}

a:link{
    color:black;
    text-decoration: none
}

a:visited{
    color:black;
    text-decoration: none
}

a:hover{
    color:black;
    font-weight: bold
}

a:active{
    color:black
}


#title-box{
    padding: 5px;
    border: 2px solid black;
    margin: 10px;
    background-color: rgba(172, 205, 255, 0.726);
    text-align: left;
    box-sizing: border-box;
    width:fit-content
}


#bullet-box{
    padding: 5px;
    border: 1px solid grey;
    margin:10px;
    background-color: rgb(235, 221, 183);
    width:max-content;
    box-sizing: border-box;
    text-align: left;

}